#include "resource.h"


ICO1 ICON DISCARDABLE "snoopy.ico"


//Menu creation
hMenu MENU DISCARDABLE
BEGIN
POPUP "&File"
BEGIN
MENUITEM "Open Bitmap",  IDM_OPEN_BM
MENUITEM "Print Bitmap", IDM_PRINT_BM, GRAYED
MENUITEM "Save Bitmap",  IDM_SAVE_BM, GRAYED
MENUITEM SEPARATOR
MENUITEM "Exit Program", IDM_EXIT
END
END

