#include "resource.h"

//Menu creation
hMenu MENU DISCARDABLE
BEGIN
POPUP "&File"
BEGIN
MENUITEM "Open Bitmap",  IDM_OPEN_BM
MENUITEM "Print Bitmap", IDM_PRINT_BM, GRAYED
MENUITEM SEPARATOR
MENUITEM "Exit Program", IDM_EXIT
END
END

